*.iml
.gradle
gradle
.idea
app/.gradle
app/build
.kotlin
build
.externalNativeBuild
.cxx
*aab
*apk
app/google-services.json
app/sonar-project.properties
app/test-proguard-rules.pro
app/debug.keystore

local.properties